html
  head
  body
    form(method="post" action="/login")
      #cuadroLogin
        div
          | user
          input(type="text" name="user")
        div
          | pass
          input(type="password" name="pass")
        div
          input(type="submit" value="Entrar")
