html
  head
  body
    form(method="post" action="usuarios")
      input(type="text" name="nombre" placeholder="nombre" value="fooBar")
      | nombre
      br
      input(type="text" name="mail" placeholder="e-mail" value="foo@bar.com")
      | mail
      br
      input(type="text" name="pass" placeholder="pass" value="f00b4r")
      | pass
      br
      input(type="file" name="imagen" accept="image/*" enctype="multipart/form-data")
      br
      input(type="submit" value="añadir")
      br
      #imagen_subida= var_imagen
